html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 100%;
}

article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

button::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner {
  padding: 0;
  border: none;
}

.ie button:focus,
.ie input[type='button']:focus,
.ie input[type='submit']:focus {
  outline: none;
}

img[align=left] {
  float: left;
}

img[align=right] {
  float: right;
}

address {
  font-style: normal;
}

a img {
  border: none;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: 'cabinregular';
  src: url('../fonts/Cabin regular-webfont.eot');
  src: url('../fonts/Cabin regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Cabin regular-webfont.woff2') format('woff2'), url('../fonts/Cabin regular-webfont.woff') format('woff'), url('../fonts/Cabin regular-webfont.ttf') format('truetype'), url('../fonts/Cabin regular-webfont.svg#cabinregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneue';
  src: url('../fonts/HelveticaNeueCyr-Thin-webfont.eot');
  src: url('../fonts/HelveticaNeueCyr-Thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Thin-webfont.woff2') format('woff2'), url('../fonts/HelveticaNeueCyr-Thin-webfont.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Thin-webfont.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Thin-webfont.svg#helveticaneuecyrthin') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneue';
  src: url('../fonts/HelveticaNeueCyr-Medium-webfont.eot');
  src: url('../fonts/HelveticaNeueCyr-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Medium-webfont.woff2') format('woff2'), url('../fonts/HelveticaNeueCyr-Medium-webfont.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Medium-webfont.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Medium-webfont.svg#helveticaneuecyrmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'helveticaneue';
  src: url('../fonts/HelveticaNeueCyr-Light-webfont.eot');
  src: url('../fonts/HelveticaNeueCyr-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueCyr-Light-webfont.woff2') format('woff2'), url('../fonts/HelveticaNeueCyr-Light-webfont.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Light-webfont.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Light-webfont.svg#helveticaneuecyrlight') format('svg');
  font-weight: 300;
  font-style: normal;
}
html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #000;
  background: #fff;
  font: normal 12px helveticaneue, sans-serif;
  -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

input, textarea {
  color: #000;
  font: 12px helveticaneue, sans-serif;
}

.clr, .main {
  zoom: 1;
}
.clr:before, .main:before, .clr:after, .main:after {
  display: block;
  overflow: hidden;
  height: 0;
  content: '\0020';
}
.clr:after, .main:after {
  clear: both;
}

a {
  transition: color .2s;
  text-decoration: none;
  color: #5c95a9;
}
a:hover {
  text-decoration: none;
}
a:hover {
  color: #000;
}
a:active, a:focus {
  outline: none;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.no-display {
  display: none;
}

#wrapper {
  position: relative;
  overflow: hidden;
  min-width: 1024px;
  margin: 0 auto;
  background: #f0f0f0;
}

/* Header */
header {
  min-height: 80px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
}

.logo {
  float: left;
  height: 80px;
  padding: 25px 33px 0 33px;
}

h1 {
  position: absolute;
  text-indent: -9999px;
}

.header-panel {
  float: right;
}

.panel-item {
  display: inline-block;
  height: 80px;
  padding: 33px 37px 0;
  vertical-align: top;
  border-left: 1px solid #f0f0f0;
}
.panel-item a {
  color: #aaafb5;
}
.panel-item a span {
  vertical-align: middle;
  font-family: cabinregular;
  font-size: 14px;
}
.panel-item a:before {
  margin: 0 11px 0 0;
  vertical-align: middle;
}
.panel-item a:hover {
  color: #000;
}
.panel-item:first-child {
  border: 0;
}

.header-search {
  padding-top: 25px;
}
.header-search .form-item {
  position: relative;
}
.header-search .form-text {
  width: 140px;
  height: 32px;
  padding: 9px 9px 9px 35px;
  vertical-align: top;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  background: #fff;
}
.header-search .form-submit {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 32px;
  cursor: pointer;
  color: #aaafb5;
  border: 0;
  background: none;
  font-size: 12px;
}
.header-search .form-submit:hover {
  color: #000;
}

/* End Header */
/* Footer */
/* End Footer */
/* Cards */
.nav-panel {
  float: left;
  width: 202px;
}
.nav-panel:before {
  position: absolute;
  width: 202px;
  height: 9999px;
  content: '';
  background: #242424;
  box-shadow: inset -10px 0 13px 0 rgba(0, 0, 0, .5);
}

.site-nav {
  position: relative;
}
.site-nav ul {
  padding: 1px 0;
}
.site-nav li {
  margin: 11px 0;
  padding: 0 6px;
}
.site-nav li > a {
  position: relative;
  display: block;
  padding: 6px 9px;
  transition: background-color .2s, color .2s;
  color: #aaafb5;
  border-radius: 2px 2px 3px 3px;
}
.site-nav li > a span {
  margin: 0 0 0 8px;
  font: normal 14px cabinregular;
}
.site-nav li.active a,
.site-nav li a:hover {
  color: #fff;
  background: #5c95a9;
}
.site-nav li.with-subnav a {
  padding-right: 23px;
}
.site-nav li.with-subnav a:after {
  position: absolute;
  top: 50%;
  right: 9px;
  content: '\f105';
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: FontAwesome;
  font-size: 14px;
}

.main-content {
  margin: 0 0 0 202px;
  padding: 20px;
}

.button {
  display: inline-block;
  padding: 6px 20px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border: 0;
  border-radius: 3px;
  background: #5c95a9;
  font: normal 14px cabinregular;
}
.button .fa {
  margin: 0 7px 0 0;
  font-size: 12px;
}
.button:hover {
  color: #fff;
}

.button-cancel {
  color: #5c95a9;
  background: none;
}
.button-cancel:hover {
  color: #000;
}

.cards-panel {
  overflow: hidden;
  margin: 0 0 17px;
}
.cards-panel-left {
  margin: 0 150px 0 0;
}
.cards-panel-buttons {
  float: right;
  width: 140px;
  text-align: right;
}

.cards-panel-left {
  color: #9b9b9b;
  font: 300 14px helveticaneue;
}
.cards-panel-left .breadcrumbs li {
  display: inline-block;
  margin-right: 10px;
}
.cards-panel-left .breadcrumbs li a {
  display: block;
  padding: 8px 7px;
  color: #6da6b8;
  border-radius: 5px;
  background: #fff;
  font-weight: 300;
}
.cards-panel-left h2 {
  color: #ababab;
  font-weight: 300;
}

.cards-index {
  margin: 0 0 5px;
  color: #ccc;
  font: 200 10px/12px helveticaneue;
}

.cards-list ul {
  margin: 0 0 0 -17px;
}

.card-item {
  display: inline-block;
  width: 140px;
  margin: 0 0 30px 17px;
  vertical-align: top;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
}

.card-content {
  min-height: 80px;
  padding: 10px;
  line-height: 15px;
}

.card-icons {
  overflow: hidden;
  padding: 0 0 7px;
  color: #ccc;
  font-size: 10px;
  font-weight: 300;
  line-height: 12px;
}

.card-icons-right,
.card-icons-left {
  float: left;
  width: 50%;
  padding: 0 10px;
  text-align: left;
}

.card-icons-right {
  float: right;
  text-align: right;
}

.card-icons-item .fa {
  margin-right: 7px;
}

.comments-count .fa {
  font-size: 12px;
}

.card-buttons .button {
  display: block;
  border-radius: 0 0 3px 3px;
  background: #91afb9;
  font-family: helveticaneue;
  font-weight: 300;
}

.pager {
  margin: 15px 0;
  text-align: center;
}
.pager li {
  display: inline-block;
  margin: 0 5px;
  vertical-align: top;
}
.pager li.active a {
  color: #e4e4e4;
}
.pager a {
  display: inline-block;
  padding: 0 5px;
  color: #5c95a9;
  font-size: 14px;
  font-weight: 300;
}

.b-card-edit {
  max-width: 782px;
}

.card-edit-preview {
  float: left;
  width: 261px;
  text-align: center;
}

.phone-model {
  width: 219px;
  height: 451px;
  margin: 0 auto;
  padding: 63px 18px 65px 17px;
  background: url('../images/phone@2x.png') no-repeat 0 0;
  background-size: 219px 451px;
}
.phone-model-inner {
  position: relative;
  height: 100%;
  min-height: 100%;
}

.phone-card {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 156px;
  height: 245px;
  margin: 57px auto auto;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
}
.phone-card-main {
  position: relative;
  height: 100%;
  padding: 7px 7px 51px;
}
.phone-card-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  border-radius: 0 0 3px 3px;
  background: #142b33;
}
.phone-card-button {
  display: inline-block;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 13px;
  color: #fff;
  border: none;
  background: transparent;
  font-size: 11px;
}
.phone-card-button.half {
  width: 50%;
}
.phone-card-question {
  margin: 45px 0 0;
  color: #5c5c5c;
  font-size: 11px;
  font-weight: 300;
}
.phone-card-answer {
  position: absolute;
  right: 7px;
  bottom: 51px;
  left: 7px;
}
.phone-card-input-text {
  height: 27px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 1px;
  background: #fff;
  font-size: 11px;
}
.phone-card-checkbox, .phone-card-radio {
  padding: 25px 0 0;
}
.phone-card-checkbox li, .phone-card-radio li {
  padding: 0 0 15px 13px;
  text-align: left;
}
.phone-card-checkbox label, .phone-card-radio label {
  display: block;
  cursor: pointer;
  color: #5c5c5c;
  font-size: 11px;
  font-weight: 300;
}
.phone-card-checkbox label > .fa, .phone-card-radio label > .fa {
  width: 12px;
  height: 12px;
  margin-right: 10px;
  color: #e2edf1;
}
.phone-card-checkbox label > input, .phone-card-radio label > input {
  position: absolute;
  z-index: -1;
  margin: 0;
  opacity: 0;

  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
.phone-card-checkbox label > input:checked + .fa, .phone-card-radio label > input:checked + .fa {
  color: #6da6b8;
}
.phone-card-checkbox .checkbox > .fa::before, .phone-card-radio .checkbox > .fa::before {
  content: '\f0c8';
}
.phone-card-checkbox .checkbox > input:checked + .fa::before, .phone-card-radio .checkbox > input:checked + .fa::before {
  content: '\f14a';
}
.phone-card-checkbox .radio > .fa::before, .phone-card-radio .radio > .fa::before {
  content: '\f10c';
}
.phone-card-checkbox .radio > input:checked + .fa::before, .phone-card-radio .radio > input:checked + .fa::before {
  content: '\f111';
}
.phone-card-select {
  width: 100%;
  margin: 25px 0;
}
.phone-card-select[multiple] {
  height: 90px;
}
.phone-card-scale {
  padding: 30px 0 0;
  color: #d6d6d6;
  font-size: 12px;
}
.phone-card-scale .text-scale {
  overflow: hidden;
  padding: 0 0 30px;
}
.phone-card-scale .range-slider {
  position: relative;
  height: 2px;
  margin: 0 15px;
  border-top: 1px solid #a3a3a3;
  border-bottom: 1px solid #ddd;
}
.phone-card-scale .range-slider span {
  position: absolute;
  top: -11px;
  width: 22px;
  height: 22px;
  margin-left: -11px;
  cursor: default;
  border-radius: 15px;
  background: #142b33;
}
.phone-card-picture {
  width: 80px;
  height: 80px;
  margin: 25px 0 0;
  cursor: pointer;
  background: url('../images/picture@2x.png') no-repeat 0 0;
  background-size: 80px 80px;
}
.phone-card-img {
  margin: 25px 0 0;
}

.card-edit-form {
  margin: 0 0 0 289px;
}
.card-edit-form form {
  display: none;
}

.form-item {
  margin: 0 0 19px;
}
.form-item label {
  display: block;
  margin: 0 0 1px;
  color: #ccc;
  font-size: 12px;
  font-weight: 300;
  line-height: 15px;
}
.form-item span {
  display: block;
  margin: 5px 0 0;
  color: #ccc;
  font-size: 12px;
  font-weight: 300;
  line-height: 15px;
}

.form-list,
.form-text {
  color: #4a4a4a;
  border: 1px solid #ccc;
  border-radius: 1px;
  background: #fff;
  font-size: 15px;
  font-weight: 300;
}

.form-text {
  width: 100%;
  height: 35px;
  padding: 9px 12px;
}

.fs-dropdown {
  width: 170px;
  margin: 0;
}
.fs-dropdown-selected {
  height: 35px;
  padding: 0 12px;
  color: #4a4a4a;
  border: 1px solid #ccc;
  border-radius: 1px;
  background: #fff;
  font: 300 15px/35px helveticaneue;
  font-size: 15px;
  font-weight: 300;
  line-height: 35px;
}
.fs-dropdown-options {
  padding: 5px 3px;
}
.fs-dropdown-item {
  height: 35px;
  padding: 0 7px;
  color: #4a4a4a;
  border: 0;
  border-radius: 3px !important;
  font: 300 15px/35px helveticaneue;
}
.fs-dropdown-item_selected {
  color: #fff;
  background: #5c95a9;
}

.form-list li {
  position: relative;
  display: block;
  padding: 15px 68px 15px 12px;
  border-top: 1px dashed #e6e6e6;
}
.form-list li [data-name=options] {
  width: 100%;
  height: 100%;
  padding: 0;
  color: #4a4a4a;
  border: none;
  background: #fff;
  font-size: 15px;
  font-weight: 300;
}
.form-list li::before {
  position: absolute;
  top: 16px;
  right: 42px;
  color: #cacaca;
  font-size: 13px;
}
.form-list li [name=deleteOption] {
  position: absolute;
  top: 14px;
  right: 15px;
  margin: 0;
  padding: 0;
  color: #cacaca;
  border: none;
  background: transparent;
  font-size: 18px;
}
.form-list li:first-child {
  border-top: 0;
}
.form-list li [name=addOption] {
  margin: 0;
  padding: 0;
  transition: all .2s;
  opacity: .3;
  border: none;
  background: transparent;
}
.form-list li [name=addOption]:hover {
  opacity: 1;
}

.ui-sortable-helper {
  border: 1px solid #e6e6e6 !important;
  background: #fff;
  box-shadow: 1px 1px 5px #ccc;
}

.form-select {
  min-width: 162px;
  height: 35px;
  padding: 0 0 0 12px;
  color: #4a4a4a;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  font: 300 15px helveticaneue;
}

.form-buttons {
  overflow: hidden;
  margin: 55px 0 0;
}
.form-buttons .button {
  margin: 0 0 9px;
}
.form-buttons .button.fright {
  margin-left: 9px;
}
.form-buttons .button.fleft {
  margin-right: 9px;
}

.b-upload .form-text {
  width: auto;
  min-width: 214px;
}
.b-upload .button-upload {
  position: relative;
  height: 30px;
  margin: 0 0 3px 10px;
  padding: 6px 18px 6px 12px;
  vertical-align: middle;
  color: #6da6b8;
  border-radius: 2px;
  background: #e1e7e9;
}

.form-btns .form-text {
  border-top: none;
}
.form-btns .form-text:first-child {
  border-top: 1px solid #ccc;
  border-bottom: 1px dashed #e6e6e6;
}

/* end Cards */
/* Dashboard */
.dashboard-item {
  clear: both;
  margin: 0 0 14px;
}
.dashboard-item .dahboard-main-inner {
  padding: 25px 15px 15px;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
}
.fleft.dashboard-item, .fright.dashboard-item {
  clear: none;
  width: 50%;
}
.fleft.dashboard-item {
  padding-right: 11px;
}
.fright.dashboard-item {
  padding-left: 11px;
}
.dashboard-item h2 {
  margin: 0 0 22px;
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 200;
  line-height: 18px;
}
.dashboard-item h2:before {
  position: relative;
  top: 1px;
  display: inline-block;
  width: 16px;
  margin: 0 10px 0 0;
  content: 'C';
  text-align: center;
  vertical-align: top;
  color: #5c95a9;
  border-bottom: 4px solid #5c95a9;
  font-size: 9px;
  font-weight: normal;
  line-height: 11px;
}

.dashboard-info-cards ul {
  display: table;
  width: 100%;
}
.dashboard-info-cards li {
  display: table-cell;
}
.dashboard-info-cards li:last-child .dashboard-info-card {
  margin-right: 0;
}

.dashboard-info-card {
  overflow: hidden;
  min-width: 140px;
  height: 91px;
  margin: 0 17px 13px 0;
  padding: 15px 25px 0;
  text-align: center;
  color: #fff;
  background: #578b9e;
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
}
.dashboard-info-card .num {
  display: block;
  font-size: 30px;
  font-weight: 200;
  line-height: 36px;
}

.dashboard-main {
  margin: 0 0 -15px;
}

.see-all-link {
  margin: 30px 0 0;
  text-align: center;
}
.see-all-link a {
  font-size: 16px;
  font-weight: 200;
}

.send-pictures-list {
  overflow: hidden;
  height: 258px;
  margin-right: -10px;
}

.send-picture-item {
  float: left;
  overflow: hidden;
  width: 110px;
  height: 78px;
  margin: 0 10px 12px 0;
}

.experience-item {
  position: relative;
  height: 63px;
  margin: 0 0 2px;
  transition: background .2s;
  border-left: 3px solid #d2d2d2;
  background: #f5f5f5;
}
.experience-item:hover {
  background: #ededed;
}
.experience-item.status1 {
  border-color: #f5a623;
}
.experience-item.status2 {
  border-color: #7ed321;
}
.experience-item a {
  display: block;
  padding: 10px 24px 10px 13px;
}
.experience-item:before {
  position: absolute;
  top: 50%;
  right: 7px;
  margin: -7px 0 0;
  content: '\f105';
  color: #ccc;
  font: normal 14px/14px FontAwesome;
}

.experience-list {
  margin: 0 0 0 -3px;
}

.experience-name {
  overflow: hidden;
  margin: 0 0 2px;
  white-space: nowrap;
  color: #b4b4b4;
  font-size: 10px;
  font-weight: 300;
}

.experience-content {
  overflow: hidden;
  max-height: 30px;
  color: #000;
  font-size: 12px;
  font-weight: 300;
  line-height: 15px;
}

.b-users-graph h2:before {
  content: '\f080';
  border-bottom: 0;
  font: normal 14px FontAwesome;
}

.users-graph-list {
  display: table;
  width: 100%;
}
.users-graph-list li {
  display: table-cell;
  text-align: center;
}

.users-graph-item {
  display: inline-block;
  width: 142px;
  margin: 0 0 10px 10px;
  vertical-align: top;
}
.users-graph-item-graphics {
  position: relative;
  width: 50px;
  height: 110px;
  margin: 0 auto;
}
.users-graph-item-title {
  margin: 9px 0 0;
  text-align: center;
}
.users-graph-item-title span {
  color: #b2b2b2;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
}
.users-graph-item-percent {
  font-size: 28px;
  font-weight: 300;
  line-height: 34px;
}

.graphic {
  position: absolute;
  bottom: 0;
  width: 20px;
  background-image: linear-gradient(-180deg, #fad961 0%, #f76b1c 100%);
}
.graphic.g1 {
  left: 0;
  opacity: .3;
}
.graphic.g2 {
  right: 0;
}

/* end Dashboard */
