@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
a,
a:focus,
a:hover {
    color: #fff;
}
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: 1px solid #fff;
}
html,
body {
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}
body {
    color: #fff;
    text-align: center;
}
.site-wrapper {
    display: table;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    height: auto;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0;
    width: auto;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}
.logo img {
    margin: 20px 0;
    width: 130px;
}
.sign-in {
    color: #00c190;
    font-size: 62px;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 30px;
}
.inner {
    padding: 30px;
    margin-bottom: 100px;
}
.btn-facebook {
    background: #428bca;
    text-transform: uppercase;
    height: 45px;
    width: 310px;
    font-size: 16px;
    font-weight: 400;
    padding: 11px;
}
.sign-up {
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0 0 -20px;
}
.sign-up a {
    text-decoration: underline;
}
.input-des {
    height: 45px;
    width: 310px;
    border: none !important;
    margin-bottom: 10px;
}
::-webkit-input-placeholder {
    color: #666666;
    font-size: 16px;
}
::-moz-placeholder {
    color: #666666;
    font-size: 16px;
}
/* Firefox 19+ */

:-moz-placeholder {
    color: #666666;
    font-size: 16px;
}
/* Firefox 18- */

:-ms-input-placeholder {
    color: #666666;
    font-size: 16px;
}
form {
    text-align: right;
}
form a {
    font-size: 13px;
    font-weight: 400;
    text-decoration: underline;
    text-align: right;
}
.apps span {
    display: block;
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 20px;
}
.apple-app {
    display: inline;
    margin-right: 5px;
}
.android-app {
    display: inline;
    margin-left: 5px;
}
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}
.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    /* IE8 proofing */
    
    color: rgba(255, 255, 255, .75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255, 255, 255, .25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}
@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}
.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}
.mastfoot {
    color: #999;
    color: rgba(255, 255, 255, .5);
}
@media (min-width: 768px) {
    /* Pull out the header and footer */
    
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%;
        /* Must be percentage or pixels for horizontal alignment */
    }
}
@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 740px;
    }
}
.text-none {
    text-decoration: none !important;
}